
= simple_form_for [:admin, resource], wrapper: :active_admin do |f|
  = fieldset :name, false do
    %ol
      = f.input :name, hint: "This is what is referenced in the code, for inserting links to this page in menus, etc. It may not be changed after page creation. It must contain only alphanumeric characters and underscores (<code>_</code>), and must begin with a letter. This is a unique identifier amongst the all pages. These page names are referenced at some point in the code: <b>#{REDIS[:cache].smembers(:page_names_to_suggest_for_creation).join('; ')}</b>".html_safe, input_html: { disabled: f.object.persisted?, value: f.object.name || params[:name] }
  = fieldset :inputs, false do
    %ol
      = f.input :slug, hint: 'This is the URL path to this page. (<code>http://trust-master.herokuapp.com/{slug}</code>). This can be changed at any time, but must consist only of alphanumeric and the following characters: <code>_$@.,&+/\-!*"\'()</code>. This is a unique identifier amongst the all pages.'.html_safe
      = f.input :title, hint: 'This is the <code>&lt;title&gt;</code> of the page. It will be automatically inserted into the body of the page, used to construct links to this page, and it will show as the document title on the top of the browser window/tab, and in search results (i.e. Google / Bing).'.html_safe
      = f.input :content, hint: 'The content of the page. This will be formatted with <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.'.html_safe
      -# f.input :published

  = f.button :submit