- content_for :title, 'Log In to Trust Master'
- content_for :content_div_class, 'login'

= simple_form_for @session, url: session_path do |f|
  %fieldset
    %ul
      = f.input :email
      = f.input :password
    .login-btns
      = f.submit id: 'login'
      = link_to t('session.cant_log_in')
    .login-messages
      %p
        %strong= t('session.did_you_forget')
      = link_to t('session.recover'), new_password_reset_path
      %p
        = t('session.why')
        %br
        = t('session.more')