- title t('.title'), false
- content_for :content_div_class, 'col-1'

%h2#page-title
  %strong Preferred Provider Search
  (Beta)

#col
  = simple_form_for @session, url: session_path, wrapper: :login do |f|
    = fieldset :login do
      %ul
        = f.input :email, input_html: { autofocus: true }, placeholder: false
        = f.input :password
      .login-btns
        = f.button :submit, id: 'submit'
        = link_to t('.cant_log_in'), new_password_reset_path
        = link_to t('.did_you_forget'), new_password_reset_path

%ol#login-instructions
  %li.box
    = t('.instructions.test.title')
    .body= t('.instructions.test.body')
  %li.box
    = t('.instructions.refine.title')
    .body= t('.instructions.refine.body')
  %li.box
    = t('.instructions.impact.title')
    .body= t('.instructions.impact.body')