- title t('.title')
- content_for :content_div_class, 'col-1'

#col
  = simple_form_for @session, url: session_path, wrapper: :login do |f|
    %fieldset
      %ul
        = f.input :email
        = f.input :password
      .login-btns
        = f.button :submit, id: 'submit'
        = link_to t('.cant_log_in'), new_password_reset_path
      .login-messages
        %p
          %strong= t('.did_you_forget')
        = link_to t('.recover'), new_password_reset_path
        %p
          = t('.why')