- title t('.title')
- content_for :content_div_class, 'col-1'

#col
  %p= t('.instructions')

  = simple_form_for @password_reset, url: password_resets_path do |form|
    %fieldset
      %ul
        = form.input :email
        = form.input :name
    %fieldset#buttons
      = form.button :submit, class: :save, id: 'submit'
