- content_for :content_div_class, 'col-1'
- title t('.title')

#col

  %p= t('.instructions')

  = simple_form_for @token, url: password_reset_path(@token) do |form|
    = form.simple_fields_for :user, @user do |user|
      = fieldset :password, show_header: false do
        %ul
          = user.input :password
          = user.input :password_confirmation

      %fieldset#buttons
        = form.button :submit, id: 'submit'
