- title t('.title')
- content_for :content_div_class, 'col-1'

%p= t('.instructions')

= simple_form_for @token, url: password_reset_path(@token) do |form|
  %fieldset
    = form.simple_fields_for :user, @user do |user|
      %ul
        = user.input :password
        = user.input :password_confirmation
  %fieldset.actions.last
    = form.button :submit, id: 'submit'
