.tabs.ui-tabs.ui-helper-reset.ui-widget-content.ui-wigdet.ui-corner-all
  %ul.nav.tab_bar.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-wigdet-header.ui-corner-all
    - [:profile, :capabilities, :credentials, :discounts].each do |label|
      %li.ui-state-default.ui-corner-top
        = link_to t(".tabs.#{label}.name"), "##{label}"
    %li.ui-state-default.ui-corner-top
      = link_to t(".tabs.reviews.name"), "#reviews", class: 'disabled'

  .tab#profile= t('.tabs.profile.content')
  .tab#capabilities= t('.tabs.capabilities.content')
  .tab#credentials= t('.tabs.credentials.content')
  .tab#discounts= t('.tabs.discounts.content')
  .tab#reviews= t('.tabs.reviews.content')

  .tab#initial= t('.tabs.initial.content')