- title t('.title')
- content_for :content_div_class, 'col-2-wide'

#col-a
  = render 'form'

  - if collection.total_count > 0
    .results
      %h4= t('.results_count', count: collection.total_count)

      = paginate collection

      %ul.companies
        = render collection

  .footer
    = paginate collection
    .search_summary= page_entries_info(collection, entry_name: Company.model_name.human)


%h2.secondary-title= t('.secondary_title')

#col-b
  #company_details
    - with_options scope: 'search.index' do |idx|
      .tabs
        %ul.nav.tab_bar
          = list_of [:profile, :capabilities, :credentials, :discounts] do |label|
            = link_to idx.t("tabs.#{label}.name"), "##{label}"
          %li= link_to idx.t("tabs.reviews.name"), "#reviews", class: 'disabled'

        .tab#profile= idx.t('tabs.profile.content')
        .tab#capabilities= idx.t('tabs.capabilities.content')
        .tab#credentials= idx.t('tabs.credentials.content')
        .tab#discounts= idx.t('tabs.discounts.content')
        .tab#reviews= idx.t('tabs.reviews.content')

        .tab#initial= idx.t('tabs.initial.content')
