- title t('.title')

%a{:href => "/users/new"} Add a User
%table.users_index
  %thead
    %tr
      %th User Name
      %th Company
      %th Last Login Date
      %th Active?
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.display_name
        %td= user.company.name
        %td= user.logged_in_at
        %td= user.active ? 'Y' : 'N'
        %td
          = link_to 'Edit', user, :action => :edit
          |
          = link_to 'Delete', user, :action => :delete
