- title t('.title', company_name: @company.name)

.actions
  = include_add_link(new_company_user_path(@company))

%table.users_index
  %thead
    %tr
      %th.sortable= t('.table.headers.name')
      %th.sortable= t('.table.headers.logged_in_at')
      %th.sortable= t('.table.headers.active')
      %th.sortable= t('.table.headers.role')
      %th=          t('.table.headers.actions')
  %tbody
    - if @users.any?
      - @users.each do |user|
        %tr[user]
          %td= user.display_name
          %td= user.logged_in_at
          %td= user.active ? 'Yes' : 'No'
          %td= user.role.constantize.model_name.human
          %td.actions
            - if can? :edit, user
              = include_edit_link edit_company_user_path(@company, user)
            - if can? :destroy, user
              = include_remove_link company_user_path(@company, user)
    - else
      %tr.no_items
        %td{colspan: 5}= t('.table.no_items_message')