- title t('.title', company_name: @company.name)

.actions
  = link_to new_company_user_path(@company), class: :add do
    .icon
    Add User

%table.users_index
  %thead
    %tr
      %th.sortable User Name
      %th.sortable Last Login
      %th.sortable Active?
      %th Actions
  %tbody
    - @users.each do |user|
      %tr[user]
        %td= link_to user.display_name, company_user_path(@company, user)
        %td= user.logged_in_at || 'never'
        %td= user.active ? 'Y' : 'N'
        %td
          = link_to 'Edit',   edit_company_user_path(@company, user), class: :edit
          = link_to 'Delete', company_user_path(@company, user), method: :delete, confirm: 'Are You Sure?', class: :delete
