<a href="/users/">Return to Index</a>
<h2>Create User</h2>
<fieldset>
    <%= form_for @user, :url => { :action => "create" }, :html => { :class => "new_user"} do |f| %>
        <% if @user.errors %>
            <div class="validation_summary">
                <ul>
                    <% @user.errors.each do |error| %>
                        <li><%= error %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <ul>
            <li>
                <label for="user_email_address">Email Address*</label>
                <input type="text" name="user[email_address]" id="user_email_address" value="<%=@user.email_address%>"/>
            </li>
            <li>
                <label for="user_first_name">First Name*</label>
                <input type="text" name="user[first_name]" id="user_first_name" value="<%=@user.first_name%>"/>
            </li>
            <li>
                <label for="user_last_name">Last Name*</label>
                <input type="text" name="user[last_name]" id="user_last_name" value="<%=@user.last_name%>"/>
            </li>
			<li>
				<label for="user_is_admin">Is Admin?</label>
				<input type="checkbox" name="user[is_admin]" id="user_is_admin" <%= @user.is_admin? ? "checked=checked" : ""%> value="1"/>
			</li>
            <li>
                <label for="user_password">Password*</label>
                <input type="password" name="user[password]" id="user_password"/>
            </li>
            <li>
                <label for="password_confirm">Password (confirm)*</label>
                <input type="password" name="user[password_confirm]" id="user_password_confirm"/>
            </li>
			<li>
				<label for="send_notification">Send this user an email with this information</label>
				<input type="checkbox" name="user[send_notification]" id="user_send_notification"/>
			</li>
            <li>
                <input type="submit"/>
            </li>
        </ul>
    <% end %>
</fieldset>