- title t('.title')

.user_show_container
  %ul
    %li
      %label Email Address
      %span= @user.email
    %li
      %label Name
      %span= @user.display_name
    %li
      %label User Type
      %span= @user.role
    - if @user.created_by_user
      %li
        %label Created By
        %span= link_to @user.created_by_user.display_name, @user.created_by_user
    %li
      %label Created At
      %span= @user.created_at
    - if @user.updated_by_user
      %li
        %label Updated By
        %span= link_to @user.updated_by_user.display_name, @user.updated_by_user
    %li
      %label Updated At
      %span= @user.updated_at
