- content_for :title, "Showing #{@user.email}"

.user_show_container
  %ul
    %li
      %label Email Address
      %span= @user.email
    %li
      %label Name
      %span= @user.display_name
    %li
      %label User Type
      %span= @user.role
    %li
      %label Created By
      %span= @user.created_by
    %li
      %label Created At
      %span= @user.created_at
    %li
      %label Updated By
      %span= @user.updated_by
    %li
      %label Updated At
      %span= @user.updated_at
