<a href="/users/">Return to Index</a>
<h2>Showing <%= @user.email_address %></h2>
<div class="user_show_container">
    <ul>
        <li>
            <label>Email Address</label>
            <span><%= @user.email_address%></span>
        </li>
		<li>
			<label>First Name</label>
			<span><%= @user.first_name%></span>
		</li>
		<li>
			<label>Last Name</label>
			<span><%= @user.last_name%></span>
		</li>
		<li>
			<label>User Type</label>
			<span><%= @user.is_admin ? "Administrator" : "User"%></span>
		</li>
		<li>
			<label>Password Hash</label>
			<span><%= @user.password_hash%></span>
		</li>
        <li>
            <label>Created By</label>
            <span><%= @user.created_by%></span>
        </li>
        <li>
            <label>Created At</label>
            <span><%= @user.created_at%></span>
        </li>
        <li>
            <label>Updated By</label>
            <span><%= @user.updated_by%></span>
        </li>
        <li>
            <label>Updated At</label>
            <span><%= @user.updated_at%></span>
        </li>
    </ul>
</div>