%h5= link_to affiliation.display_identifier, "##{tab_id_for(affiliation)}"

= tab_for(affiliation) do

  - if affiliation.started_on?
    .dates
      - if affiliation.ended_on?
        = t('.dates.past', name: affiliation.name, started: affiliation.started_on, ended: affiliation.ended_on)
      - else
        = t('.dates.present', name: affiliation.name, started: affiliation.started_on)

  - if affiliation.description?
    .description
      = affiliation.description

  - if affiliation.url?
    .url
      %label= t('.url')
      = affiliation.url
