%p
  - if affiliation.ended_on.nil?
    Currently affiliated with #{affiliation.name}
  - else
    Affiliated with #{affiliation.name} from #{affiliation.started_on.to_s}
    until #{affiliation.ended_on.to_s}.

%p
  = link_to 'Delete', [affiliation.company, affiliation], method: :delete
