= form.simple_fields_for :business_filings do |business_filing|
  %div[business_filing.object]
    = business_filing.hidden_field :_destroy, class: :destroy
    .actions
      = include_remove_link
    = render business_filing.object

.actions
  = include_add_link hidden_if(@company.business_filing.present?)

  %script.template{type: 'text/html'}
    - cache 'company_business_filing_fields_template' do
      = form.simple_fields_for :business_filings, BusinessFiling.new, child_index: '_ID_' do |new_business_filing|
        %ul[new_business_filing.object]
          .actions
            = include_remove_link

          = new_business_filing.input       :issuing_state_id, as: :hidden # temporary, until the issuing_state input is enabled
          = new_business_filing.association :issuing_state, disabled: true # disabled means it wont be sent

          = new_business_filing.input       :number