%li[company]{class: dom_class_for_search_result(company)}

  %h3= company.name

  - if company.in_business_since?
    .in_business_since= t('.in_business_since', year: company.since)

  - if company.locations.any?
    .address= company.primary_address

  - if company.phone_main?
    .phone= company.phone_main

  - if company.sub_categories.any?
    .categories= company.sub_categories.map(&:name).to_sentence

  .details
    .tabs
      %ul
        = list_of %w[Profile Specialty Credentials Discounts] do |label|
          = link_to label, "##{[dom_id(company), label.downcase].join(?_)}"

      .profile{id: [dom_id(company), 'profile'].join(?_)}
        %h3= company.name
        - if company.in_business_since?
          %span.in_business_since= t('.in_business_since', year: company.since)
        - if company.locations.any?
          .address= company.primary_address
        - if company.phone_main?
          .phone= company.phone_main
        - if company.website_url?
          .website= company.website

      .specialty{id: [dom_id(company), 'specialty'].join(?_)}
        Service/Product specialty will be here

      .credentials{id: [dom_id(company), 'credentials'].join(?_)}
        Licenses/Credentials info will be here

      .discounts{id: [dom_id(company), 'discounts'].join(?_)}
        Discounts will be listed here

    .actions
      - if can? :edit, company
        = include_edit_link edit_company_path(company, section: :identity)