%li[company]

  %h3
    = link_to company.name, company

  - if company.locations.any?
    .address= company.primary_address
  - if company.in_business_since?
    .in_business_since= t('.in_business_since', year: company.since)
  - if company.phone_main?
    .phone= company.phone_main
  - if company.website_url?
    .website= company.website

  .details
    %h3= company.name
    - if company.in_business_since?
      %span.in_business_since= t('.in_business_since', year: company.since)

    .identity
      - if company.locations.any?
        .address= company.primary_address
      - if company.phone_main?
        .phone= company.phone_main
      - if company.website_url?
        .website= company.website

    .service


    .credentials


    .discounts


    .actions
      - if can? :edit, company
        = include_edit_link edit_company_path(company, section: :identity)