= fieldset :insurance do
  = render 'insurance', form: form

= fieldset :licenses do
  #business_licenses
    = render 'business_licenses', form: form
  #personal_licenses
    = render 'personal_licenses', form: form

= fieldset :business_filing do
  = render 'business_filing', form: form

= fieldset :affiliations do
  = render 'affiliations', form: form

= fieldset :associations do
  = render 'associations', form: form

= fieldset :certifications do
  = render 'certifications', form: form
