= simple_form_for @company do |f|
  #company-basic-info
    %fieldset#company_name
      %legend
        %h3 Company Name
      %ul
        = f.input :name
        = f.input :in_business_since, as: :string

    %fieldset#contact_info
      %legend
        %h3 Contact Info
      %ul
        = f.input :email
        = f.input :phone_main
        = f.input :phone_mobile
        = f.input :phone_fax

    %fieldset#website
      %legend
        %h3 Website
      %ul
        = f.input :website_url

    %fieldset#locations
      %legend
        %h3 Locations
      = f.simple_fields_for :locations do |l|
        = render 'locations/fields', builder: l
      %ul
        %li
          / TODO: Move this to the front-end-code file
          %a.add{onclick: "$(this).parents(\"ul\").before($(\"#location_template\").html().replace(/_ID_/g,(new Date()).valueOf())); return false;"}
            .icon
            Add a Location
      %script#location_template{type: 'text/html'}
        - cache 'company_location_fields_template' do
          = f.simple_fields_for :locations, Location.new, child_index: '_ID_' do |a|
            = render 'locations/fields', builder: a

    %fieldset#admin
      %legend
        %h3 Admin
      %ul
        %li
          %label Admin Email
          %span.current-data
            = @company.admin_email
            = link_to '[Edit]', ''
        %li
          %a.add
            .icon
            Add an Account Admin

  #company-service-info
    %fieldset#description
      %legend
        %h3 Business Description
      %ul
        = f.input :about
        = f.input :description
        = f.input :general_info


    %fieldset#service_areas
      %legend
        %h3 Service Area
      %ul#markets-selection
        = dev_note 'This is the button version, which I like a little better.'
        - @markets.keys.each do |m|
          %li
            / This input just controls the form via JS, and is not meant to submit values that are consumed
            = check_box :market_toggle, m.id, class: 'checkbox', data: {market_selector: '#'+dom_id(m)}
            = label :market_toggle, m.id, m.name

        = dev_note do
          This is the multiple select version. Not functional, or styled right now, but I wanted you to see it for comparison. This would have to come with a notice such as: 'Use CTRL+Click to select multiple markets.'
        %li
          = label_tag :market, 'Market:'
          = select_tag :market, options_for_select(@markets.keys.map{|m| [m.name, '#'+dom_id(m)]}), multiple: true
          .clear

      - @markets.each_pair do |market, company_service_areas|
        = content_tag_for :div, market, style: 'display: none;' do
          %h4= market.name
          = content_tag :a, class: 'remove', data: {market_id: market.id} do
            .icon
            Remove

          %ul
            = f.simple_fields_for :company_service_areas, company_service_areas do |s|
              - csa = s.object
              = content_tag_for :li, csa.service_area do
                = s.hidden_field :service_area_id

                %ul
                  / That <ul> is just until I tell simpleform not to wrap these inputs in <li> elements
                  = s.input :_destroy, as: :inverse_boolean, label: csa.service_area.name, input_html: {checked: !csa.new_record?}
                  = s.input :partial_only, collection: [[false, 'All'],[true, 'Partial']], as: :radio, label: false, label_method: :last, value_method: :first

    %fieldset.alt-section#service_categories
      %legend
        %h3 Service Category
      - @categories.each_pair do |category, company_categories|
        = div_for category, style: hidden_if(company_categories.all?(&:new_record?)) do
          %h4= category.name
          %ul
            = f.simple_fields_for :company_categories, company_categories do |c|
              = content_tag_for :li, c.object.sub_category, style: hidden_if(c.object.new_record?) do
                = c.hidden_field :_destroy, class: :destroy # this class is for the JS to find it
                = c.hidden_field :sub_category_id, class: :sub_category_id
                = c.object.sub_category.name

                %a.remove
                  .icon
                  Delete
                .clear

      .add_new_category
        / TODO: Switch this to using 2 drop-downs (using JS, leave this HTML here, so it degrades)
        = label_tag :add_sub_category, "Add new Category"
        = select_tag :add_sub_category, option_groups_from_collection_for_select(Category.includes(:sub_categories), :sub_categories, :name, :id, :name), include_blank: true

    %fieldset#operations
      %legend
        %h3 Operations
      %ul
        = f.input :offers_24_hour_service,   as: :radio
        = f.input :offers_emergency_service, as: :radio

  #company-credentials
    %fieldset#insurance
      %legend
        %h3 Insurance
      %ul
        = f.input :insured, as: :radio
        = f.input :insurance_certificate, as: :file
        = f.input :insurance_valid_from
        = f.input :insurance_valid_until
        = f.association :insurance_state

    %fieldset#licenses
      %legend
        %h3 License & Bonding Info

      %ul#personal_licenses
        %li
          %h4 Personal License/Certificate
        = f.simple_fields_for :personal_licenses do |l|
          = l.input :number
        %li
          / TODO: Move this to the front-end-code file
          %a.add{onclick: "$(this).parents(\"li\").before($(\"#personal_license_template\").html().replace(/_ID_/g,(new Date()).valueOf())); return false;"}
            .icon
            Add Another
      %script#personal_license_template{type: 'text/html'}
        - cache 'company_personal_license_fields_template' do
          = f.simple_fields_for :personal_licenses, PersonalLicense.new, child_index: '_ID_' do |a|
            = a.input :number

      %ul#business_licenses
        %li
          %h4 Business/Contractor License/Certificate
        = f.simple_fields_for :business_licenses do |l|
          = l.input :number
        %li
          / TODO: Move this to the front-end-code file
          %a.add{onclick: "$(this).parents(\"li\").before($(\"#business_license_template\").html().replace(/_ID_/g,(new Date()).valueOf())); return false;"}
            .icon
            Add Another
      %script#business_license_template{type: 'text/html'}
        - cache 'company_business_license_fields_template' do
          = f.simple_fields_for :business_licenses, BusinessLicense.new, child_index: '_ID_' do |a|
            = a.input :number


    %fieldset#business_status
      %legend
        %h3 Business Status
      %ul
        = f.simple_fields_for :business_filing do |l|
          = l.input :number

    %fieldset#affiliations
      %legend
        %h3 Affiliations
      = f.simple_fields_for :affiliations do |l|
        = render 'affiliations/fields', builder: l
      %ul
        %li
          / TODO: Move this to the front-end-code file
          %a.add{onclick: "$(this).parents(\"ul\").before($(\"#affiliation_template\").html().replace(/_ID_/g,(new Date()).valueOf())); return false;"}
            .icon
            Add an Affiliation
      %script#affiliation_template{type: 'text/html'}
        - cache 'company_affiliation_fields_template' do
          = f.simple_fields_for :affiliations, Affiliation.new, child_index: '_ID_' do |a|
            = render 'affiliations/fields', builder:  a

    %fieldset#associations
      %legend
        %h3 Associations
      = f.simple_fields_for :associations do |l|
        = render 'associations/fields', builder: l
      %ul
        %li
          %a.add{onclick: "$(this).parents(\"ul\").before($(\"#association_template\").html().replace(/_ID_/g,(new Date()).valueOf())); return false;"}
            .icon
            Add an Association
      %script#association_template{type: 'text/html'}
        - cache 'company_association_fields_template' do
          = f.simple_fields_for :associations, Association.new, child_index: '_ID_' do |a|
            = render 'associations/fields', builder:  a

    %fieldset#certifications
      %legend
        %h3 Certifications
      = f.simple_fields_for :certifications do |l|
        = render 'certifications/fields', builder: l
      %ul
        %li
          %a.add{onclick: "$(this).parents(\"ul\").before($(\"#certification_template\").html().replace(/_ID_/g,(new Date()).valueOf())); return false;"}
            .icon
            Add an Certification
      %script#certification_template{type: 'text/html'}
        - cache 'company_certification_fields_template' do
          = f.simple_fields_for :certifications, Certification.new, child_index: '_ID_' do |a|
            = render 'certifications/fields', builder:  a

  %fieldset.last#buttons
    = link_to "Cancel", '', class: :cancel
    = f.submit 'Save', class: :save
