<input type="hidden" id="company_id" value="<%= @company.id%>"/>
<div class="company_form_nav">
  <ul>
    <li><a href="#" target_tab="company_form_step_1">Basic Info</a></li>
    <li><a href="#" target_tab="company_form_step_2">Service Info</a></li>
    <li><a href="#" target_tab="company_form_step_3">Credentials</a></li>
    <li><a href="#" target_tab="company_form_step_4">Discounts</a></li>
  </ul>
</div>
<div class="target_tab company_form_step_1">
  <form class="company_form_step_1_form">
    <h2>Basic Info</h2>
    <ul>
      <li>
        <label for="company_name">Name*</label>
        <input type="text" name="company[name]" id="company_name" value="<%= company.name%>"/>
      </li>
      <li>
        <label for="company_in_business_since">In Business Since</label>
        <input type="text" name="company[in_business_since]" id="company_in_business_since" value="<%= company.in_business_since%>"/>
      </li>
      <li>
        <label for="company_email">Company Email*</label>
        <input type="text" name="company[email_address]" id="company_email_address" value="<%= company.email_address%>"/>
      </li>
      <li>
        <label for="company_main_phone_number">Main Phone Number*</label>
        <input type="text" name="company[main_phone_number]" id="company_main_phone_number" value="<%= company.main_phone_number%>"/>
      </li>
      <li>
        <label for="company_mobile_phone_number">Mobile Phone Number</label>
        <input type="text" name="company[mobile_phone_number]" id="company_mobile_phone_number" value="<%= company.mobile_phone_number%>"/>
      </li>
      <li>
        <label for="company_fax_number">Fax Number</label>
        <input type="text" name="company[fax_number]" id="company_fax_number" value="<%= company.fax_number%>"/>
      </li>
      <li>
        <label for="company_web_site">Web Site</label>
        <input type="text" name="company[web_site]" id="company_web_site" value="<%= company.web_site%>"/>
      </li>
      <li>
        <label for="company_address_1">Address 1*</label>
        <input type="text" name="company[address_1]" id="company_address_1" value="<%= company.address_1%>"/>
      </li>
      <li>
        <label for="company_address_2">Address 2</label>
        <input type="text" name="company[address_2]" id="company_address_2" value="<%= company.address_2%>"/>
      </li>
      <li>
        <label for="company_city">City*</label>
        <input type="text" name="company[city]" id="company_city" value="<%= company.city%>"/>

      </li>
      <li>
        <label for="company_state">State*</label>
        <input type="text" name="company[state]" id="company_state" value="<%= company.state%>"/>
      </li>
      <li>
        <label for="company_zip">Zip Code*</label>
        <input type="text" name="company[zip_code]" id="company_zip_code" value="<%= company.zip_code%>"/>
      </li>
      <li>
        <input type="submit"/>
      </li>
    </ul>
  </form>
</div>
<div class="target_tab company_form_step_2 hidden">
  <form class="company_form_step_2_form">
    <h2>Business Description</h2>
    <ul>
      <li>
        <label for="company_about">About</label>
        <textarea name="company[about]" id="company_about"><%= company.about%></textarea>
      </li>
      <li>
        <label for="company_description">Description</label>
        <textarea name="company[description]" id="company_description"><%= company.description%></textarea>
      </li>
      <li>
        <label for="company_general_info">General Info</label>
        <textarea name="company[general_info]" id="company_general_info"><%= company.general_info%></textarea>
      </li>
    </ul>
    <h2>Service Coverage</h2>
    <ul>
      <% i = 0 %>
      <% @service_areas.each do |service_area|%>
        <%
          service_area_coverage = company.service_area_coverages.find_all{|item| item.service_area_id == service_area.id}.first()
          raise "Could not locate service_area_coverage for #{service_area.name} (#{service_area.id})" if service_area_coverage.nil?
        %>
        <li>
          <input type="hidden" name="service_area_coverages[][service_area_id]" value="<%= service_area.id%>"/>
          <label for=""><%= service_area.name%></label>
          <select name="service_area_coverages[][coverage_type]">
            <option value="0" <%= service_area_coverage.coverage_type==0 ? "selected=selected" : ""%>>None</option>
            <option value="1" <%= service_area_coverage.coverage_type==1 ? "selected=selected" : ""%>>Partial</option>
            <option value="2" <%= service_area_coverage.coverage_type==2 ? "selected=selected" : ""%>>All</option>
          </select>
        </li>
        <% i += 1 %>
      <% end %>
    </ul>
    <h2>Service Category</h2>
    <ul>
      <li>
        <label for="company_company_category">Select a Category</label>
        <select name="company[company_category_id]" id="company_company_category_id">
          <option value="-1">Select a Category</option>
          <% @company_categories.each do |company_category| %>
            <option value="<%= company_category.id %>"
              <%= !company.company_category.nil? && company.company_category.id == company_category.id ? "selected=selected" : ""%>
            ><%= company_category.name%></option>
          <% end %>
        </select>
      </li>
      <li class="company_category_new_toggle">
        <a href="#" class="add_category">Add a Category</a>
      </li>
      <li class="company_category_new hidden">
        <label for="company_category_name">Category Name*</label>
        <input type="text" name="company_category[name]" id="company_category_name"/>
        <br/>
        <a href="#" class="cancel_add_category">Cancel</a>
        <input type="submit" value="Add Category"/>
      </li>
      <li>
        <label for="company_twenty_four_hour_service">24 Hour Service</label>
        <input type="checkbox" name="company[twenty_four_hour_service]" <%= @company.twenty_four_hour_service ? "checked=checked" : ""%> value="1">
      </li>
      <li>
        <label for="company_emergency_services">Emergency Services</label>
        <input type="checkbox" name="company[emergency_services]" <%= @company.emergency_services ? "checked=checked" : ""%> value="1">
      </li>
    </ul>
    <ul>
      <li>
        <input type="submit"/>
      </li>
    </ul>
  </form>
</div>
<div class="target_tab company_form_step_3 hidden">
  <form class="company_form_step_3_form" enctype="multipart/form-data">
    <h2>Insurance</h2>
    <ul>
      <li>
        <label for="company_is_insurance">Insurance</label>
        <input type="checkbox" name="company[is_insurance]" id="company_is_insurance" <%= company.is_insurance ? "checked=checked" : ""%>>
      </li>
      <li>
        <label for="certificate_of_insurance">Certificate of Insurance</label>
        <input type="file" name="certificate_of_insurance" id="certificate_of_insurance"/>
        <span class="certificate_of_insurance_filename"><%= company.certificate_of_insurance_filename%></span>
      </li>
      <li>
        <label for="company_insurance_expiration_month">Expiration Month</label>
        <select name="company[insurance_expiration_month]" id="company_insurance_expiration_month">
          <option value="-1">Select...</option>
          <option value="1" <%= company.insurance_expiration_month == 1 ? "selected=selected" : ""%>>January</option>
          <option value="2" <%= company.insurance_expiration_month == 2 ? "selected=selected" : ""%>>February</option>
          <option value="3" <%= company.insurance_expiration_month == 3 ? "selected=selected" : ""%>>March</option>
          <option value="4" <%= company.insurance_expiration_month == 4 ? "selected=selected" : ""%>>April</option>
          <option value="5" <%= company.insurance_expiration_month == 5 ? "selected=selected" : ""%>>May</option>
          <option value="6" <%= company.insurance_expiration_month == 6 ? "selected=selected" : ""%>>June</option>
          <option value="7" <%= company.insurance_expiration_month == 7 ? "selected=selected" : ""%>>July</option>
          <option value="8" <%= company.insurance_expiration_month == 8 ? "selected=selected" : ""%>>August</option>
          <option value="9" <%= company.insurance_expiration_month == 9 ? "selected=selected" : ""%>>September</option>
          <option value="10" <%= company.insurance_expiration_month == 10 ? "selected=selected" : ""%>>October</option>
          <option value="11" <%= company.insurance_expiration_month == 11 ? "selected=selected" : ""%>>November</option>
          <option value="12" <%= company.insurance_expiration_month == 12 ? "selected=selected" : ""%>>December</option>
        </select>
        <label for="company_insurance_expiration_year">Expiration Year</label>
        <select name="company[insurance_expiration_year]" id="company_insurance_expiration_year">
          <option value="-1">Select...</option>
          <option value="2011" <%= company.insurance_expiration_year == 2011 ? "selected=selected" : ""%>>2011</option>
          <option value="2012" <%= company.insurance_expiration_year == 2012 ? "selected=selected" : ""%>>2012</option>
          <option value="2013" <%= company.insurance_expiration_year == 2013 ? "selected=selected" : ""%>>2013</option>
          <option value="2014" <%= company.insurance_expiration_year == 2014 ? "selected=selected" : ""%>>2014</option>
          <option value="2015" <%= company.insurance_expiration_year == 2015 ? "selected=selected" : ""%>>2015</option>
          <option value="2016" <%= company.insurance_expiration_year == 2016 ? "selected=selected" : ""%>>2016</option>
        </select>
      </li>
    </ul>
    <h2>Personal License/Certificate</h2>
    <ul>
      <li>
        <label for="company_personal_license_type">License Type</label>
        <select name="company[personal_license_type]" id="company_personal_license_type">
          <option value="-1">Select...</option>

          <option value="1" <%= company.personal_license_type == "1" ? "selected=selected" : ""%>>
            License 1
          </option>
        </select>
      </li>
      <li>
        <label for="company_personal_license_number">License Number</label>
        <input type="text" name="company[personal_license_number]" id="company_personal_license_number" value="<%=company.personal_license_number%>">
      </li>
    </ul>
    <ul class="personal_license">
      <li>
        <label for="personal_certificate_name">Name</label>
        <input type="textbox" id="personal_certificate_name" name="personal_certificate[name]" value="<%= company.personal_certificate.name%>"/>
      </li>
      <li>
        <label for="personal_certificate_address">Address</label>
        <input type="textbox" id="personal_certificate_address" name="personal_certificate[address]" value="<%= company.personal_certificate.address%>"/>
      </li>
      <li>
        <label for="personal_certificate_certificate_type">Type</label>
        <input type="textbox" id="personal_certificate_certificate_type" name="personal_certificate[certificate_type]" value="<%= company.personal_certificate.certificate_type%>"/>
      </li>
      <li>
        <label for="personal_certificate_status">Status</label>
        <input type="textbox" id="personal_certificate_status" name="personal_certificate[status]" value="<%= company.personal_certificate.status%>"/>
      </li>
      <li>
        <label for="personal_certificate_print_date">Print Date</label>
        <input type="textbox" class="datepicker" id="personal_certificate_print_date" name="personal_certificate[print_date]" value="<%= company.personal_certificate.print_date%>"/>
      </li>
      <li>
        <label for="personal_certificate_continuing_education">Continuing Education</label>
        <input type="textbox" id="personal_certificate_continuing_education" name="personal_certificate[continuing_education]" value="<%= company.personal_certificate.continuing_education%>"/>
      </li>
    </ul>
    <h2>Business License/Certificate</h2>
    <ul>
      <li>
        <label for="company_business_certificate_type">License Type</label>
        <select name="company[business_certificate_type]" id="company_business_certificate_type">
          <option value="-1">Select...</option>
          <option value="1" <%= company.business_certificate_type == "1" ? "selected=selected" : ""%>>
            License 1
          </option>
        </select>
      </li>
      <li>
        <label for="company_business_certificate_number">License Number</label>
        <input type="text" name="company[business_certificate_number]" id="company_business_certificate_number" value="<%=company.business_certificate_number%>">
      </li>
    </ul>
    <ul class="business_certificate">
      <li>
        <label for="business_certificate_name">Name</label>
        <input type="textbox" id="business_certificate_name" name="business_certificate[name]" value="<%= company.business_certificate.name%>"/>
      </li>
      <li>
        <label for="business_certificate_business_as">Doing Business As</label>
        <input type="textbox" id="business_certificate_business_as" name="business_certificate[business_as]" value="<%= company.business_certificate.business_as%>"/>
      </li>
      <li>
        <label for="business_certificate_address">Address</label>
        <input type="textbox" id="business_certificate_address" name="business_certificate[address]" value="<%= company.business_certificate.address%>"/>
      </li>
      <li>
        <label for="business_certificate_city_state_zip">Continuing Education</label>
        <input type="textbox" id="business_certificate_city_state_zip" name="business_certificate[city_state_zip]" value="<%= company.business_certificate.city_state_zip%>"/>
      </li>
      <li>
        <label for="business_certificate_license_type">License Type</label>
        <input type="textbox" id="business_certificate_license_type" name="business_certificate[license_type]" value="<%= company.business_certificate.license_type%>"/>
      </li>
      <li>
        <label for="business_certificate_company_structure">Company Structure</label>
        <input type="textbox" id="business_certificate_company_structure" name="business_certificate[company_structure]" value="<%= company.business_certificate.company_structure%>"/>
      </li>
      <li>
        <label for="business_certificate_status">Status</label>
        <input type="textbox" id="business_certificate_status" name="business_certificate[status]" value="<%= company.business_certificate.status%>"/>
      </li>
      <li>
        <label for="business_certificate_original_issue_date">Original Issue Date</label>
        <input type="textbox" class="datepicker" id="business_certificate_original_issue_date" name="business_certificate[original_issue_date]" value="<%= company.business_certificate.original_issue_date%>"/>
      </li>
      <li>
        <label for="business_certificate_expiration_date">Expiration Date</label>
        <input type="textbox" class="datepicker" id="business_certificate_expiration_date" name="business_certificate[expiration_date]" value="<%= company.business_certificate.expiration_date%>"/>
      </li>
      <li>
        <label for="business_certificate_print_date">Original Issue Date</label>
        <input type="textbox" class="datepicker" id="business_certificate_print_date" name="business_certificate[print_date]" value="<%= company.business_certificate.print_date%>"/>
      </li>
      <li>
        <label for="business_certificate_responsible_person_name">Responsible Person Name</label>
        <input type="textbox" id="business_certificate_responsible_person_name" name="business_certificate[responsible_person_name]" value="<%= company.business_certificate.responsible_person_name%>"/>
      </li>
      <li>
        <label for="business_certificate_responsible_person_license_number">Responsible Person License Number</label>
        <input type="textbox" id="business_certificate_responsible_person_license_number" name="business_certificate[license_number]" value="<%= company.business_certificate.license_number%>"/>
      </li>
      <li>
        <label for="business_certificate_contractors_phone_number">Contractor's Phone Number</label>
        <input type="textbox" id="business_certificate_contractors_phone_number" name="business_certificate[contractors_phone_number]" value="<%= company.business_certificate.contractors_phone_number%>"/>
      </li>
      <li>
        <label for="business_certificate_enforcement_action">Enforcement Action</label>
        <input type="textbox" id="business_certificate_enforcement_action" name="business_certificate[enforcement_action]" value="<%= company.business_certificate.enforcement_action%>"/>
      </li>
    </ul>
    <h2>Business Status</h2>
    <ul>
      <li>
        <label for="company_business_status_type">License Type</label>
        <select name="company[business_status_type]" id="company_business_status_type">
          <option value="-1">Select...</option>
          <option value="1" <%= company.business_status_type == "1" ? "selected=selected" : ""%>>
            License 1
          </option>
        </select>
      </li>
      <li>
        <label for="company_filing_number">Filing Number</label>
        <input type="text" name="company[filing_number]" id="company_filing_number" value="<%=company.filing_number%>">
      </li>
    </ul>
    <h2>Affiliations</h2>
    <ul class="affiliations_index"></ul>
    <a href="#" class="affiliation_new">Add an Affiliation</a>
    <h2>Associations</h2>
    <ul class="associations_index"></ul>
    <a href="#" class="association_new">Add an Association</a>
    <h2>Certifications</h2>
    <ul class="certifications_index"></ul>
    <a href="#" class="certification_new">Add a Certification</a>

    <ul>
      <li>
        <input type="submit"/>
      </li>
    </ul>
  </form>
</div>
<div class="target_tab company_form_step_4 hidden">
  <h2>Discounts</h2>
  <a href="#" class="discount_new">Add a Discount</a>
  <div class="discounts_index"></div>
</div>
