%input#company_id{:type => "hidden", :value => @company.id}/
.company_form_nav
  %ul
    %li
      %a{:href => "#", :target_tab => "company_form_step_1"} Basic Info
    %li
      %a{:href => "#", :target_tab => "company_form_step_2"} Service Info
    %li
      %a{:href => "#", :target_tab => "company_form_step_3"} Credentials
    %li
      %a{:href => "#", :target_tab => "company_form_step_4"} Discounts
.target_tab.company_form_step_1
  %form.company_form_step_1_form
    %h2 Basic Info
    %ul
      %li
        %label{:for => "company_name"} Name*
        %input#company_name{:name => "company[name]", :type => "text", :value => company.name}/
      %li
        %label{:for => "company_in_business_since"} In Business Since
        %input#company_in_business_since{:name => "company[in_business_since]", :type => "text", :value => company.in_business_since}/
      %li
        %label{:for => "company_email"} Company Email*
        %input#company_email{:name => "company[email]", :type => "text", :value => company.email}/
      %li
        %label{:for => "company_main_phone_number"} Main Phone Number*
        %input#company_main_phone_number{:name => "company[main_phone_number]", :type => "text", :value => company.main_phone_number}/
      %li
        %label{:for => "company_mobile_phone_number"} Mobile Phone Number
        %input#company_mobile_phone_number{:name => "company[mobile_phone_number]", :type => "text", :value => company.mobile_phone_number}/
      %li
        %label{:for => "company_fax_number"} Fax Number
        %input#company_fax_number{:name => "company[fax_number]", :type => "text", :value => company.fax_number}/
      %li
        %label{:for => "company_web_site"} Web Site
        %input#company_web_site{:name => "company[web_site]", :type => "text", :value => company.web_site}/
      %li
        %label{:for => "company_address_1"} Address 1*
        %input#company_address_1{:name => "company[address_1]", :type => "text", :value => company.address_1}/
      %li
        %label{:for => "company_address_2"} Address 2
        %input#company_address_2{:name => "company[address_2]", :type => "text", :value => company.address_2}/
      %li
        %label{:for => "company_city"} City*
        %input#company_city{:name => "company[city]", :type => "text", :value => company.city}/
      %li
        %label{:for => "company_state"} State*
        %input#company_state{:name => "company[state]", :type => "text", :value => company.state}/
      %li
        %label{:for => "company_zip"} Zip Code*
        %input#company_zip_code{:name => "company[zip_code]", :type => "text", :value => company.zip_code}/
      %li
        %input{:type => "submit"}/
.target_tab.company_form_step_2.hidden
  %form.company_form_step_2_form
    %h2 Business Description
    %ul
      %li
        %label{:for => "company_about"} About
        %textarea#company_about{:name => "company[about]"}= company.about
      %li
        %label{:for => "company_description"} Description
        %textarea#company_description{:name => "company[description]"}= company.description
      %li
        %label{:for => "company_general_info"} General Info
        %textarea#company_general_info{:name => "company[general_info]"}= company.general_info
    %h2 Service Coverage
    %ul
      - i = 0
      - @service_areas.each do |service_area|
        - service_area_coverage = company.service_area_coverages.find_all{|item| item.service_area_id == service_area.id}.first()
        - raise "Could not locate service_area_coverage for #{service_area.name} (#{service_area.id})" if service_area_coverage.nil?
        %li
          %input{:name => "service_area_coverages[][service_area_id]", :type => "hidden", :value => service_area.id}/
          %label{:for => ""}= service_area.name
          %select{:name => "service_area_coverages[][coverage_type]"}
            <option value="0" #{service_area_coverage.coverage_type==0 ? "selected=selected" : ""}>None
            <option value="1" #{service_area_coverage.coverage_type==1 ? "selected=selected" : ""}>Partial
            <option value="2" #{service_area_coverage.coverage_type==2 ? "selected=selected" : ""}>All
        - i += 1
    %h2 Service Category
    %ul
      %li
        %label{:for => "company_company_category"} Select a Category
        %select#company_company_category_id{:name => "company[company_category_id]"}
          %option{:value => "-1"} Select a Category
          - @company_categories.each do |company_category|
            <option value="#{company_category.id}"
            \#{!company.company_category.nil? && company.company_category.id == company_category.id ? "selected=selected" : ""}
            >#{company_category.name}
      %li.company_category_new_toggle
        %a.add_category{:href => "#"} Add a Category
      %li.company_category_new.hidden
        %label{:for => "company_category_name"} Category Name*
        %input#company_category_name{:name => "company_category[name]", :type => "text"}/
        %br/
        %a.cancel_add_category{:href => "#"} Cancel
        %input{:type => "submit", :value => "Add Category"}/
      %li
        %label{:for => "company_twenty_four_hour_service"} 24 Hour Service
        <input type="checkbox" name="company[twenty_four_hour_service]" #{@company.twenty_four_hour_service ? "checked=checked" : ""} value="1">
      %li
        %label{:for => "company_emergency_services"} Emergency Services
        <input type="checkbox" name="company[emergency_services]" #{@company.emergency_services ? "checked=checked" : ""} value="1">
    %ul
      %li
        %input{:type => "submit"}/
.target_tab.company_form_step_3.hidden
  %form.company_form_step_3_form{:enctype => "multipart/form-data"}
    %h2 Insurance
    %ul
      %li
        %label{:for => "company_is_insurance"} Insurance
        <input type="checkbox" name="company[is_insurance]" id="company_is_insurance" #{company.is_insurance ? "checked=checked" : ""}>
      %li
        %label{:for => "certificate_of_insurance"} Certificate of Insurance
        %input#certificate_of_insurance{:name => "certificate_of_insurance", :type => "file"}/
        %span.certificate_of_insurance_filename= company.certificate_of_insurance_filename
      %li
        %label{:for => "company_insurance_expiration_month"} Expiration Month
        %select#company_insurance_expiration_month{:name => "company[insurance_expiration_month]"}
          %option{:value => "-1"} Select...
          <option value="1" #{company.insurance_expiration_month == 1 ? "selected=selected" : ""}>January
          <option value="2" #{company.insurance_expiration_month == 2 ? "selected=selected" : ""}>February
          <option value="3" #{company.insurance_expiration_month == 3 ? "selected=selected" : ""}>March
          <option value="4" #{company.insurance_expiration_month == 4 ? "selected=selected" : ""}>April
          <option value="5" #{company.insurance_expiration_month == 5 ? "selected=selected" : ""}>May
          <option value="6" #{company.insurance_expiration_month == 6 ? "selected=selected" : ""}>June
          <option value="7" #{company.insurance_expiration_month == 7 ? "selected=selected" : ""}>July
          <option value="8" #{company.insurance_expiration_month == 8 ? "selected=selected" : ""}>August
          <option value="9" #{company.insurance_expiration_month == 9 ? "selected=selected" : ""}>September
          <option value="10" #{company.insurance_expiration_month == 10 ? "selected=selected" : ""}>October
          <option value="11" #{company.insurance_expiration_month == 11 ? "selected=selected" : ""}>November
          <option value="12" #{company.insurance_expiration_month == 12 ? "selected=selected" : ""}>December
        %label{:for => "company_insurance_expiration_year"} Expiration Year
        %select#company_insurance_expiration_year{:name => "company[insurance_expiration_year]"}
          %option{:value => "-1"} Select...
          <option value="2011" #{company.insurance_expiration_year == 2011 ? "selected=selected" : ""}>2011
          <option value="2012" #{company.insurance_expiration_year == 2012 ? "selected=selected" : ""}>2012
          <option value="2013" #{company.insurance_expiration_year == 2013 ? "selected=selected" : ""}>2013
          <option value="2014" #{company.insurance_expiration_year == 2014 ? "selected=selected" : ""}>2014
          <option value="2015" #{company.insurance_expiration_year == 2015 ? "selected=selected" : ""}>2015
          <option value="2016" #{company.insurance_expiration_year == 2016 ? "selected=selected" : ""}>2016
    %h2 Personal License/Certificate
    %ul
      %li
        %label{:for => "company_personal_license_type"} License Type
        %select#company_personal_license_type{:name => "company[personal_license_type]"}
          %option{:value => "-1"} Select...
          <option value="1" #{company.personal_license_type == "1" ? "selected=selected" : ""}>
          License 1
      %li
        %label{:for => "company_personal_license_number"} License Number
        %input#company_personal_license_number{:name => "company[personal_license_number]", :type => "text", :value => company.personal_license_number}/
    %ul.personal_license
      %li
        %label{:for => "personal_certificate_name"} Name
        %input#personal_certificate_name{:name => "personal_certificate[name]", :type => "textbox", :value => company.personal_certificate.name}/
      %li
        %label{:for => "personal_certificate_address"} Address
        %input#personal_certificate_address{:name => "personal_certificate[address]", :type => "textbox", :value => company.personal_certificate.address}/
      %li
        %label{:for => "personal_certificate_certificate_type"} Type
        %input#personal_certificate_certificate_type{:name => "personal_certificate[certificate_type]", :type => "textbox", :value => company.personal_certificate.certificate_type}/
      %li
        %label{:for => "personal_certificate_status"} Status
        %input#personal_certificate_status{:name => "personal_certificate[status]", :type => "textbox", :value => company.personal_certificate.status}/
      %li
        %label{:for => "personal_certificate_print_date"} Print Date
        %input#personal_certificate_print_date.datepicker{:name => "personal_certificate[print_date]", :type => "textbox", :value => company.personal_certificate.print_date}/
      %li
        %label{:for => "personal_certificate_continuing_education"} Continuing Education
        %input#personal_certificate_continuing_education{:name => "personal_certificate[continuing_education]", :type => "textbox", :value => company.personal_certificate.continuing_education}/
    %h2 Business License/Certificate
    %ul
      %li
        %label{:for => "company_business_certificate_type"} License Type
        %select#company_business_certificate_type{:name => "company[business_certificate_type]"}
          %option{:value => "-1"} Select...
          <option value="1" #{company.business_certificate_type == "1" ? "selected=selected" : ""}>
          License 1
      %li
        %label{:for => "company_business_certificate_number"} License Number
        %input#company_business_certificate_number{:name => "company[business_certificate_number]", :type => "text", :value => company.business_certificate_number}/
    %ul.business_certificate
      %li
        %label{:for => "business_certificate_name"} Name
        %input#business_certificate_name{:name => "business_certificate[name]", :type => "textbox", :value => company.business_certificate.name}/
      %li
        %label{:for => "business_certificate_business_as"} Doing Business As
        %input#business_certificate_business_as{:name => "business_certificate[business_as]", :type => "textbox", :value => company.business_certificate.business_as}/
      %li
        %label{:for => "business_certificate_address"} Address
        %input#business_certificate_address{:name => "business_certificate[address]", :type => "textbox", :value => company.business_certificate.address}/
      %li
        %label{:for => "business_certificate_city_state_zip"} Continuing Education
        %input#business_certificate_city_state_zip{:name => "business_certificate[city_state_zip]", :type => "textbox", :value => company.business_certificate.city_state_zip}/
      %li
        %label{:for => "business_certificate_license_type"} License Type
        %input#business_certificate_license_type{:name => "business_certificate[license_type]", :type => "textbox", :value => company.business_certificate.license_type}/
      %li
        %label{:for => "business_certificate_company_structure"} Company Structure
        %input#business_certificate_company_structure{:name => "business_certificate[company_structure]", :type => "textbox", :value => company.business_certificate.company_structure}/
      %li
        %label{:for => "business_certificate_status"} Status
        %input#business_certificate_status{:name => "business_certificate[status]", :type => "textbox", :value => company.business_certificate.status}/
      %li
        %label{:for => "business_certificate_original_issue_date"} Original Issue Date
        %input#business_certificate_original_issue_date.datepicker{:name => "business_certificate[original_issue_date]", :type => "textbox", :value => company.business_certificate.original_issue_date}/
      %li
        %label{:for => "business_certificate_expiration_date"} Expiration Date
        %input#business_certificate_expiration_date.datepicker{:name => "business_certificate[expiration_date]", :type => "textbox", :value => company.business_certificate.expiration_date}/
      %li
        %label{:for => "business_certificate_print_date"} Original Issue Date
        %input#business_certificate_print_date.datepicker{:name => "business_certificate[print_date]", :type => "textbox", :value => company.business_certificate.print_date}/
      %li
        %label{:for => "business_certificate_responsible_person_name"} Responsible Person Name
        %input#business_certificate_responsible_person_name{:name => "business_certificate[responsible_person_name]", :type => "textbox", :value => company.business_certificate.responsible_person_name}/
      %li
        %label{:for => "business_certificate_responsible_person_license_number"} Responsible Person License Number
        %input#business_certificate_responsible_person_license_number{:name => "business_certificate[license_number]", :type => "textbox", :value => company.business_certificate.license_number}/
      %li
        %label{:for => "business_certificate_contractors_phone_number"} Contractor's Phone Number
        %input#business_certificate_contractors_phone_number{:name => "business_certificate[contractors_phone_number]", :type => "textbox", :value => company.business_certificate.contractors_phone_number}/
      %li
        %label{:for => "business_certificate_enforcement_action"} Enforcement Action
        %input#business_certificate_enforcement_action{:name => "business_certificate[enforcement_action]", :type => "textbox", :value => company.business_certificate.enforcement_action}/
    %h2 Business Status
    %ul
      %li
        %label{:for => "company_business_status_type"} License Type
        %select#company_business_status_type{:name => "company[business_status_type]"}
          %option{:value => "-1"} Select...
          <option value="1" #{company.business_status_type == "1" ? "selected=selected" : ""}>
          License 1
      %li
        %label{:for => "company_filing_number"} Filing Number
        %input#company_filing_number{:name => "company[filing_number]", :type => "text", :value => company.filing_number}/
    %h2 Affiliations
    %ul.affiliations_index
    %a.affiliation_new{:href => "#"} Add an Affiliation
    %h2 Associations
    %ul.associations_index
    %a.association_new{:href => "#"} Add an Association
    %h2 Certifications
    %ul.certifications_index
    %a.certification_new{:href => "#"} Add a Certification
    %ul
      %li
        %input{:type => "submit"}/
.target_tab.company_form_step_4.hidden
  %h2 Discounts
  %a.discount_new{:href => "#"} Add a Discount
  .discounts_index
