= fieldset :identity do
  %ul
    = form.input :name
    = form.input :in_business_since, as: :numeric, input_html: {value: @company.since}

= fieldset :contact do
  %ul
    = form.input :email
    = form.input :phone_main
    = form.input :phone_mobile
    = form.input :phone_fax

= fieldset :website do
  %ul
    = form.input :website_url

= fieldset :locations do
  = render 'locations', form: form
