= attached_file_thumbnail(form.object, :insurance_certificate) # just to raise this up the page a bit, put it here instead of on the input

%ul
  = form.input :insured, as: :radio_buttons
  .insurance_fields{hidden_if(!@company.insured)}
    = form.input :insurance_certificate, as: :attached_file, attachment_thumbnail: false
    = form.input :insurance_valid_from,  start_year: 2000, end_year: CURRENT_YEAR, discard_day: true, prompt: true
    = form.input :insurance_valid_until, start_year: CURRENT_YEAR,                 discard_day: true, prompt: true
    = form.association :insurance_state, as: :grouped_select, collection: Country.includes(:states), group_method: :states
