.tabs
  %ul.nav.tab_bar
    = list_of [:profile, :capabilities, :credentials, :discounts] do |label|
      = link_to t(".details.tab_names.#{label}"), "##{tab_id_for(company, label)}"
    %li= link_to t(".details.tab_names.reviews"), "##{tab_id_for(company, :reviews)}", class: 'disabled ui-state-disabled'

  %header
    %h2= company.name
    - if company.in_business_since?
      .in_business_since= t('.in_business_since', year: company.since)

    - if can? :edit, company
      .actions
        = include_edit_link edit_company_path(company, section: :identity)

  = tab_for company, :profile do

    - if company.about?
      %section.about
        %h3= t('.details.sections.about')
        = company.about

    - if company.locations.any?
      %section.locations
        %h3= t('.details.sections.locations')
        - company.locations.each do |location|
          = link_to_blank_tab(url_for_google_maps_search(location.to_s)) do
            = render location

    - if company.phone_numbers.any?
      %section.phone_numbers
        %h3= t('.details.sections.phone_numbers')
        %ul
          - company.phone_numbers.each do |type, number|
            %li.phone_number{class: type}
              %label= Company.human_attribute_name(type) << ?:
              %span= format_as_phone_number(number)

    - if company.website_url? or company.email?
      %section.online
        %h3= t('.details.sections.online')
        - if company.website_url?
          .website
            %label= Company.human_attribute_name(:website_url) << ?:
            = company.website
        - if company.email?
          .email
            %label= Company.human_attribute_name(:email) << ?:
            = mail_to company.email


  = tab_for company, :capabilities do

    - if company.description?
      %section.description
        %h3= t('.details.sections.description')
        = simple_format company.description

    - if company.general_info?
      %section.general_info
        %h3= t('.details.sections.general_info')
        = simple_format company.general_info

    - if company.sub_categories.any?
      %section.categories
        %h3= t('.details.sections.categories')
        %ul.categories
          - company.sub_categories.group_by(&:category).each do |category, sub_categories|
            %li[category]
              %h4= category.name
              %ul.sub_categories
                - sub_categories.each do |sub_cat|
                  %li[sub_cat]= sub_cat.name

    - if company.service_areas.any?
      %section.service_area
        %h3= t('.details.sections.service_area')
        %ul.markets
          - company.service_areas.group_by(&:market).each do |market, service_areas|
            %li[market]
              %h4= market.name
              %ul.service_areas
                - market.service_areas.each do |service_area|
                  %li[service_area]= service_area.name

    %section.operations
      %h3= t('.details.sections.operations')
      .offers_24_hour_service
        %label= Company.human_attribute_name(:offers_24_hour_service) << ':'
        = company.offers_24_hour_service ? 'Yes' : 'No'
      .offers_emergency_service
        %label= Company.human_attribute_name(:offers_emergency_service) << ':'
        = company.offers_emergency_service ? 'Yes' : 'No'

  = tab_for company, :credentials do

    - if company.insured?
      %section.insurance
        - if company.insurance_certificate?
          = attached_file_thumbnail(company, :insurance_certificate)
        %h3= t('.details.sections.insurance')
        .state= t('.details.insurance.insured_in', state_name: company.insurance_state_name)
        .valid= t('.details.insurance.valid', from: company.insurance_valid_from, to: company.insurance_valid_until)
        - if company.insurance_certificate?
          = attached_file_summary(company, :insurance_certificate)

    - if company.all_licenses.any?
      %section.licensure
        %h3= t('.details.sections.licensure')
        .licenses.accordion= render company.all_licenses

    - [:affiliations, :associations, :certifications].each do |section|
      - if (associated = company.send(section)).any?
        %section{class: section}
          %h3= t(".details.sections.#{section}")
          .accordion{class: section}= render associated


  = tab_for company, :discounts do
    - if company.discounts.any?
      %section.discounts
        .accordion.discounts= render company.discounts.all
    - else
      = t('.discounts.none_available', default: "There are no discounts available at this time.")

  = tab_for company, :reviews do
    %strong NOTE:
    Home manager reviews coming soon!

