- title t('.title', company_name: @company.name)

= simple_form_for @company, multipart: true do |form|

  - %w[identity service credentials].each do |section|
    = render "#{section}_fieldsets", form: form

  = fieldset :button, false do
    = link_to t('helpers.cancel'), @company, class: :cancel
    = form.button :submit, class: :save