- title t('.title', company_name: @company.name)

= simple_form_for @company, multipart: true do |form|
  = form.error_notification

  - %w[identity service credentials].each do |section|
    = render "#{section}_fieldsets", form: form

  %fieldset.last#buttons
    = link_to t('helpers.cancel'), @company, class: :cancel
    = form.button :submit, class: :save