- title t('.title')
- content_for :content_div_class, 'col-2-wide'

#col-a
  = form_tag(companies_path, method: :get, class: :search) do
    .search_wrap
      = search_field_tag :name, params[:name], placeholder: 'Provider Name'
      = submit_tag
    .filter
      = select_tag :sub_category, option_groups_from_collection_for_select(Category.includes(:sub_categories).all, :sub_categories, :name, :id, :name, params[:sub_category]), prompt: '', data: {placeholder: 'Select Category'}

  .results
    %h4 Search Results

    %ul.pagination
      = list_of %w[Prev 1 2 3 4 5 Next] do |pager|
        = link_to pager, '', class: pager.downcase

    %ul.companies
      = render @companies

    %ul.pagination.bottom
      = list_of %w[Prev 1 2 3 4 5 Next] do |pager|
        = link_to pager, '', class: pager.downcase


#col-b
  %ul.nav
    = list_of %w[Identity Service Credentials Discounts] do |label|
      = link_to label, '#', class: label.downcase

  #company_details
