- title t('.title')
- content_for :content_div_class, 'col-2-wide'

#col-a
  .search
    .search_wrap
      .search_input_wrap
        %input{type: 'search'}
      %input{type: 'submit'}
  .results
    %h4 Search Results

    %ul.pagination
      = list_of %w[Prev 1 2 3 4 5 Next] do |pager|
        = link_to pager, '', class: pager.downcase

    %ul.companies
      = render @companies

    %ul.pagination.bottom
      = list_of %w[Prev 1 2 3 4 5 Next] do |pager|
        = link_to pager, '', class: pager.downcase


#col-b
  %ul.nav
    = list_of %w[Identity Service Credentials Discounts] do |label|
      = link_to label, ''

  .company
    - if c = @companies.presence.try(:first)
      = render c
