<h2>Companies Index</h2>
<a href="/companies/new">Add a Company</a>
<table class="companies_index">
    <thead>
        <tr>
            <td>Name</td>
      <td>Address</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <% @companies.each do |company| %>
            <tr>
                <td><a href="/company/<%=company.id%>"><%= company.name%></td>
        <td>
          <%= company.address_1%><br/>
          <% unless company.address_2.nil?%>
            <%= company.address_2%><br/>
          <% end %>
          <%= company.state %>, <%= company.zip_code%>
        </td>
                <td>
          <a href="/companies/<%=company.id%>/edit">Edit</a>
          |
          <a href="/companies/<%=company.id%>/delete" class="delete">Delete</a>
        </td>
            </tr>
        <% end %>
    </tbody>
</table>
