- title t('.title')
- content_for :content_div_class, 'col-2-wide'

#col-a
  = form_tag(collection_path, method: :get, class: :search) do
    .search_wrap
      = search_field_tag :name, params[:name], placeholder: 'Provider Name'
      = submit_tag 'Search'
    .filter
      = select_tag :sub_category, option_groups_from_collection_for_select(Category.includes(:sub_categories).all, :sub_categories, :name, :id, :name, params[:sub_category]), multiple: true, prompt: '', data: {placeholder: 'Select Category'}

  .results
    %h4 Search Results
    -# FIXME: Implement the changing header that Dan asked for

    = paginate collection

    %ul.companies
      = render collection

    = paginate collection


#col-b
  #company_details
    This will be replaced with a search result