%h5= link_to certification.display_identifier, "##{tab_id_for(certification)}"

= tab_for(certification) do
  - if certification.attachment?
    = attached_file_thumbnail(certification, :attachment)

  - if certification.description?
    .description
      = certification.description

  - if certification.attachment?
    = attached_file_summary(certification, :attachment)