%p
  - if association.ended_on.nil?
    Currently associated with #{association.name}
  - else
    Affiliated with #{association.name} from #{association.started_on.to_s}
    until #{association.ended_on.to_s}.

%span
  = link_to 'Delete', [@company, association], method: :delete
