%h5= link_to association.display_identifier, "##{tab_id_for(association)}"

= tab_for(association) do

  - if association.started_on?
    .dates
      - if association.ended_on?
        = t('.dates.past', name: association.name, started: association.started_on, ended: association.ended_on)
      - else
        = t('.dates.present', name: association.name, started: association.started_on)

  - if association.description?
    .description
      = association.description

  - if association.url?
    .url
      %label= t('.url')
      = association.url
