= builder.hidden_field :_destroy, class: :destroy
= builder.input :name
= builder.input :title
= builder.input :started_on, start_year: 1950, end_year: 2012, discard_day: true, prompt: true
= builder.input :ended_on,   start_year: 2000, end_year: 2012, discard_day: true, prompt: true
= builder.input :url
= builder.input :description