= content_tag_for :ul, builder.object do
  = builder.input :name
  = builder.input :title
  = builder.input :started_on, as: :string
  = builder.input :ended_on, as: :string
  %li#note TODO: Add a field here to allow user to mark that last one as 'nil'
  = builder.input :url
  = builder.input :description