%tr[discount]
  %td
    = discount.title
  %td
    = discount.type_name
  %td
    = discount.start_date
  %td
    = discount.end_date
  %td
    %span
      %a.edit{href: "/discounts/#{discount.id}/edit"} Edit
    %span
      %a.delete{href: "/discounts/#{discount.id}/delete"} Delete
