<h2>Design Your Discount</h2>
<div>
	<img src="/discounts/<%=form.id%>/show_image" class="discount_image" alt="Discount Image"/>
	<a href="/discounts/<%=form.id%>/show_image">Download Image</a>
</div>
<ul>
	<li>
		<label for="discount_type">Discount Type*</label>
		<select name="discount[type_id]" id="discount_type_id">
			<option value="">Select...</option>
			<% Discount.AvailableTypes.each do |discount_type| %>
				<option value="<%= discount_type.id%>"<%= form.type_id == discount_type.id ? "selected=selected" : ""%>><%= discount_type.name%></option>
			<% end %>
		</select>
	</li>
	<li>
		<label for="discount_title">Title*</label>
		<input name="discount[title]" id="discount_title" value="<%=form.title%>"/>
	</li>
	<li>
		<label for="discount_description">Description*</label>
		<textarea name="discount[description]" id="discount_description"><%=form.description%></textarea>
	</li>
	<li>
		<label for="image_file">Discount Image*</label>
		<input type="file" name="image_file" id="image__file">
		<span class="uploaded_filename"><%= form.image_filename.nil? ? "None uploaded" : form.image_filename %></span>
		<% unless form.image_filename.nil? %>
			<span class="remove_image"><a href="/discounts/<%=form.id%>/destroy_image">Remove Image</a></span>
		<% end %>
	</li>
</ul>
<h2>Location</h2>
<ul>
	<li>
		<label for="discount_market_id">Market*</label>
		<select name="discount[market_id]" id="discount_market_id">
			<option value="">Select...</option>
			<% Discount.AvailableMarkets.each do |market| %>
				<option value="<%= market.id%>"<%= form.market_id == market.id ? "selected=selected" : ""%>><%= market.name%></option>
			<% end %>
		</select>
	</li>
</ul>
<h2>Scheduling</h2>
<ul>
	<li>
		<label for="discount_start_date">Start Date*</label>
		<input type="text" class="datepicker" name="discount[start_date]" id="discount_start_date" value="<%= form.start_date%>"/>
	</li>
	<li>
		<label for="discount_end_date">End Date*</label>
		<input type="text" class="datepicker" name="discount[end_date]" id="discount_end_date" value="<%= form.end_date%>"/>
	</li>
</ul>
<ul>
	<li>
		<input type="hidden" name="discount[company_id" id="discount_company_id" value="<%= form.company_id%>"/>
		<input type="submit"/>
	</li>
</ul>
<script type="text/javascript">
	$(document).ready(function() {
		datePickers.init();
		discountForm.init();
	});
</script>