= simple_form_for [@company, @discount] do |f|
  = f.error_notification

  = fieldset :design do
    %ul
      = f.association :type
      = f.input :title
      = f.input :description, as: :text
      = f.input :attachment, as: :attached_file


  = fieldset :location do
    %ul
      = f.association :market, collection: @company.markets
  = fieldset :scheduling do
    %ul
      = f.input :start_date
      = f.input :end_date

  %fieldset.last#buttons
    = link_to t('helpers.cancel'), [@company, :discounts], class: :cancel
    = f.button :submit, class: :save
