<tr class="object_container">
  <td>
    <%= show.title %>
  </td>
  <td>
    <%= show.type_name %>
  </td>
  <td>
    <%= show.start_date %>
  </td>
  <td>
    <%= show.end_date%>
  </td>
  <td>
    <span><a href="/discounts/<%=show.id%>/edit" class="edit">Edit</a></span>
    <span><a href="/discounts/<%=show.id%>/delete" class="delete">Delete</a></span>
  </td>
</tr>
