- title t('.title', company_name: @company.name)
.actions
  = include_add_link(new_company_discount_path(@company))

%table.discounts_index
  %thead
    %tr
      %th.sortable= t('.table.headers.name')
      %th.sortable= t('.table.headers.type')
      %th.sortable= t('.table.headers.start_date')
      %th.sortable= t('.table.headers.end_date')
      %th= t('.table.headers.actions')
  %tbody
    - if @discounts.any?
      - @discounts.each do |discount|
        %tr[discount]
          %td= discount.title
          %td= discount.type_name
          %td= discount.start_date
          %td= discount.end_date
          %td.actions
            = include_edit_link    edit_company_discount_path(discount.company, discount)
            = include_remove_link  company_discount_path(discount.company, discount)
    - else
      %tr.no_items
        %td{colspan: 5}= t('.table.no_items_message')