= builder.hidden_field :_destroy, {class: :destroy}
= builder.input :street
= builder.input :street2
= builder.input :city
= builder.input :zip
= builder.association :state, as: :grouped_select, collection: Country.includes(:states), group_method: :states
