!!!
%html
  %head
    %title= ['Trust Master', page_title].compact.join(': ')

    = stylesheet_link_tag :application
    /[if IE 8]
      = stylesheet_link_tag :ie8
    /[if lte IE 7]
      = stylesheet_link_tag :ie7
    = javascript_include_tag :application

    = content_for :head

  %body
    #wrapper
      %header#header
        %h1
          = link_to root_url do
            = image_tag asset_path('logo.png'), alt: "Trust Master: #{t(:tagline)}"
        - if current_user
          %nav.header-nav
            %span.welcome= t(:welcome, name: current_user.first_name)
            = nav_for :account_links, menu_class: 'account-links', item_wrapper: nil do |menu|
              %li.nav-profile
                .divider
                = menu.nav_link :profile, edit_user_path
                = menu.nav_for :profile do |profile|
                  = profile.nav_link :show, user_path
                  = profile.nav_link :edit, edit_user_path
              %li.nav-account
                .divider
                = menu.nav_link :account, '/account'
                = menu.nav_for :account do |account|
                  = account.nav_link :basic_info, '/account/basic_info'
                  = account.nav_link :privacy_settings, '/account/privacy'
                  = account.nav_link :notifications_alerts, '/account/notifications_alerts'
              %li.nav-logout
                = menu.nav_link :logout, logout_path
            .clear
          .search
            = form_tag({controller: :companies, action: :index}, method: :get)  do
              %fieldset
                %input{type: :search, name: :name}
                %input{type: :submit}

        %nav.main-nav
          = nav_for :main do |main|
            - if current_user
              - if current_user.is_a? Administrator
                = main.nav_link :admin, admin_dashboard_path
              = main.nav_link :code_of_conduct, '/code_of_conduct'
              = main.nav_link :core_values, '/core_values'
              = main.nav_link :search_ppn, companies_path, proc { controller.controller_name == 'companies' }
            - else
              = main.nav_link :login, login_path

      #content{class: [content_for(:content_div_class).presence || 'col-2', page_class] }

        - if show_title?
          %h2= page_title

        - flash.each do |bucket, messages|
          - Array.wrap(messages).each do |msg|
            .flash{ class: bucket }= msg

        = content_for?(:content) ? yield(:content) : yield

        .clear

      %footer#footer
        .footer-links
          = nav_for :footer do |footer|
            - [:terms, :privacy_policy, :about, :contact].each do |page_id|
              = footer.nav_link page_id, page_id.to_s.prepend('/')

        .social-media
          %h5= t(:follow_us_on)
          %ul
            %li
              = link_to follow_us_on_twitter_path do
                = image_tag asset_path('twitter.png'), alt: 'Twitter'
            %li
              = link_to follow_us_on_facebook_path do
                = image_tag asset_path('facebook.png'), alt: 'Facebook'

        .trust-logos
          = image_tag asset_path('trust-logos.png'), alt: 'Verisign'

    #copyright &copy; #{Time.now.year} #{t('copyright')}

    #development
      %h2 Development Stuff
      = render 'disqus'