!!!
%html
  %head
    %title= ['TrustMaster', yield(:title)].flatten.compact.join(': ')

    = stylesheet_link_tag :application
    = javascript_include_tag :application

  %body
    - flash.each do |flash, messages|
      - Array.wrap(messages).each do |msg|
        .flash{:class => type}= msg

    - unless @logged_in_user.nil?
      %ul
        %li Welcome #{"#{@logged_in_user.first_name} #{@logged_in_user.last_name}"}
        %li= link_to 'Logout', logout_path

    %ul.menu
      %li= link_to 'Users', users_path
      %li= link_to 'Companies', companies_path
      %li= link_to 'Search', search_companies_path

    %h1= yield(:title).empty? ? [controller.controller_name.titleize, controller.action_name].join('#') : yield(:title)

    = yield
