- if can?(:edit, @company)
  - content_for :content_div_class, 'col-2'
- else
  - content_for :content_div_class, 'col-1'

- content_for :content do
  - if can?(:edit, @company)
    #col-a
      .sidebar-nav
        = nav_for :companies, include_arrow: true do |menu|
          = menu.nav_link :listing,       edit_company_path(@company, section: :listing)
          = menu.nav_link :capabilities,  edit_company_path(@company, section: :capabilities)
          = menu.nav_link :credentials,   edit_company_path(@company, section: :credentials)
          -# = menu.nav_link :alerts,        company_alerts_path(@company), proc { controller.controller_name == 'alerts' }, class: :disabled
          = menu.nav_link :discounts,     company_discounts_path(@company), proc { controller.controller_name == 'discounts' }
          = menu.nav_link :users,         company_users_path(@company), proc { controller.controller_name == 'users' }

      - if @company.active and @company.visible
        .activation_status.active
          %h4= t('companies.activation.header.active')

      - elsif @company.active
        .activation_status.active_not_visible
          %h4= t('companies.activation.header.active_not_visible')

      - else
        .activation_status.not_active
          %h4= t('companies.activation.header.not_active')
          %ul
            - @company.activation_status.each do |method, state|
              - next if method == :is_valid?
              %li.criteria{class: state ? 'satisfied' : 'incomplete'}
                = t("companies.activation.criteria.#{method}")

    #col-b
      = yield

  - else
    #col
      = yield

= render template: 'layouts/application'
