- title t('.title')

= simple_form_for resource, url: account_path do |f|
  = fieldset :name do
    %ul.horizontal
      = f.input :first_name
      = f.input :middle_name, input_html: { maxlength: 3 }, wrapper_html: { class: :short }
      = f.input :last_name

  = fieldset :contact do
    %ul
      = f.input :email
      = f.input :phone, input_html: { value: format_as_phone_number(f.object.phone) }

  -# Fixme!
    = fieldset :password do
      %ul
        = f.input :old_password
        = f.input :password
        = f.input :password_confirmation

  = fieldset :buttons, show_header: false do
    = link_to t('helpers.cancel'), :back, class: :cancel
    = f.button :submit, class: :save

